:root {
    --riot-inac: rgb(91, 90, 86);
    --riot-text: rgb(240, 230, 210);
    --riot-pale: rgb(205, 190, 145);
    --riot-gray: rgb(30, 35, 40);
    --riot-dark: rgb(1, 10, 19);
    --riot-gren: rgb(30, 130, 90);
    --riot-blue: rgb(10, 203, 230);
    --riot-gldb: rgb(200, 170, 110);
    --riot-gldd: rgb(120, 90, 40);
    --riot-gold-btn: linear-gradient(180deg, var(--riot-gldb) 15%, var(--riot-gldd) 100%);


    --cino-gldb: rgba(200, 170, 110, 0.75);
}

* {
    gap: 0px;
    font-family: "Beaufort Bold";
}

body {
    text-align: center;
    width: 100vw;
    height: 100vh;
    z-index: -5;
}

#client {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 0px;
    height: 900px;
    width: 1600px;
    margin: 0 auto;
    border-top: solid 3px var(--riot-gldd);
}

#main {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-row: 1 / 3;
    background-position: 25% 0%;
    /* background-image: url("assets/mel_splashart.jpg"); */
}

#bgVid {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -4;
}

#navbar {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.25fr 0.75fr;
    border-bottom: solid 0.5px var(--cino-gldb);
    /*! background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 100%); */
    /*! background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0) 100%); */
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0) 100%);
    /*! background-color: rgba(255, 0, 0, 0.5); */
}

#mix {
    grid-column: 4 / 5;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#noxus {
    background-image: url("assets/noxus.svg");
}

#noxus:hover {
    background-image:url("assets/noxus.svg"), linear-gradient(180deg, rgba(205, 190, 145, 0.1) 0%, rgba(205, 190, 145, 0.25)75%, rgba(205,190,145,0.75) 100%); 
}

#clash {
    background-image: url("assets/clash.svg");
    background-size: 45%;
}

#clash:hover {
    background-image:url("assets/clash.svg"), linear-gradient(180deg, rgba(205, 190, 145, 0.1) 0%, rgba(205, 190, 145, 0.25)75%, rgba(205,190,145,0.75) 100%); 
}

#inven {
    background-image: url("assets/backpack.svg");
}

#inven:hover {
    background-image:url("assets/backpack.svg"), linear-gradient(180deg, rgba(205, 190, 145, 0.1) 0%, rgba(205, 190, 145, 0.25)75%, rgba(205,190,145,0.75) 100%); 
}

#build {
    background-image: url("assets/loot.svg");
}

#build:hover {
    background-image:url("assets/loot.svg"), linear-gradient(180deg, rgba(205, 190, 145, 0.1) 0%, rgba(205, 190, 145, 0.25)75%, rgba(205,190,145,0.75) 100%); 
}

#store {
    background-image: url("assets/store.svg");
}

#store:hover {
    background-image:url("assets/store.svg"), linear-gradient(180deg, rgba(205, 190, 145, 0.1) 0%, rgba(205, 190, 145, 0.25)75%, rgba(205,190,145,0.75) 100%); 
}

.navbarIcon {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60%;
}

.separator-right::after {
    content: "";
    width: 3px;
    aspect-ratio: 1 / 1;
    background-image: radial-gradient(circle, rgba(205,190,145,1) 0%, rgba(255,255,255,0) 100%);
    height: 80%;
    transform: translate(33px, 15px);
    place-self: center;
    display: inline-block;
    border-radius: 50%;
}

#currencies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    color: var(--riot-text);
}

#rpDiv {
    display: grid;
    align-items: center;
    text-align: left;
    grid-template-columns: 1fr 2fr 1fr;    
    background-color: var(--riot-dark);
    border: 1px solid var(--riot-gldd);
    border-radius: 50px;
    width: 55%;
    height: 25%;
}

#rpIcon {
    height: 100%;
    background-image: url("assets/rp.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 55%;
}

#riotPoints {
    grid-column: 2 / 3;
}

#rpPlus {
    height: 100%;
    background-image: url("assets/button-add.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80%;
}

#rpPlus:hover {
    background-image: url("assets/button-add-hover.png");
}

#rpPlus:active {
    background-image: url("assets/button-add-down.png");
}

#beDiv {
    display: grid;
    align-items: center;
    text-align: left;
    grid-template-columns: 1fr 2fr 1fr;    
    width: 55%;
    height: 25%;
}

#beIcon {
    height: 100%;
    background-image: url("assets/lcu-be-svg.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 45%;
}

#blueEssence {
    margin: 0 auto;
}







#home {
    grid-row: 2 / 3;
    /*! background-color: rgba(0, 0, 255, 0.5); */
}

#sidebar {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    background-color: var(--riot-dark);
    display: grid;
    grid-template-rows: 1fr 7.55fr 0.45fr;
    /* background-color: rgba(0, 255, 0, 0.5); */
}

#profile {
    grid-row: 1 / 2;
    border-bottom: solid 0.5px var(--cino-gldb);
    display: grid;
    grid-template-columns: 1.15fr 1.5fr 0.6fr;
}

#badge {
    display: grid;
    place-items: center;
    position: relative;
}

#badge .circle0 {
    background-image: linear-gradient(180deg, rgb(196, 168, 77) 0%, rgb(147, 112, 47) 15%, rgb(147, 112, 47) 75%,  rgb(120, 90, 40) 80%);
    border-radius: 50%;
    width: 77.5%;
    aspect-ratio: 1 / 1;
    position: absolute;
    transform: translate(0px, -5.5px);
    z-index: 1;
}

#badge .circle1 {
    background-image: linear-gradient(111deg, rgb(25, 160, 210) 50%, rgb(10, 50, 60) 50%);
    border-radius: 50%;
    width: 72.5%;
    aspect-ratio: 1 / 1;
    position: absolute;
    transform: translate(0px, -5.5px);
    z-index: 2;
}

#badge .circle2 {
    background-image: linear-gradient(180deg, rgb(196, 168, 77) 0%, rgb(147, 112, 47) 15%, rgb(147, 112, 47) 75%,  rgb(120, 90, 40) 80%);
    border-radius: 50%;
    width: 67.5%;
    aspect-ratio: 1 / 1;
    position: absolute;
    transform: translate(0px, -5.5px);
    z-index: 3;
}

#summonerIcon {
    width: 60%;
    border-radius: 50%;
    position: relative;
    aspect-ratio: 1 / 1;
    background-size: cover;
    transform: translate(0px, 10px);
    background-image: url("assets/3151.png");
    border: solid 2px;
    z-index: 4;
}

#summonerLvlDiv {
    width: 90%;
    margin: 0 auto;
    color: var(--riot-text);
    transform: translate(0px, -5px);
    background-image: url("assets/lvl.svg");
    background-size:contain;
    overflow: visible;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 1px;
    z-index: 5;
    font-size: 15px;
    /* visibility: hidden; */
}

#profileText {
    color: var(--riot-text);
    text-align: left;
    align-self: center;
}

#summonerName {
    font-size: 17.5px;
}

#summonerStatus {
    font-family: "Spiegel Regular";
    color: rgb(0, 167, 46);
    padding-left: 3px;
}

#summonerStatus::before {
    content: "";
    width: 10px;
    aspect-ratio: 1 / 1;
    background-color: var(--riot-gren);
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    border: solid 1px rgb(54, 217, 135);
    transform: translate(-3px, 0);
}

#bell {
    background-image: url("assets/notifications_button_icon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50%;
}

#social {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 24fr;
}

#socialOpt {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 5px;
}

#socialSpan {
    color: var(--riot-text);
    text-align: left;
    margin-left: 10px;
    font-family: "Beaufort Bold";
    font-size: medium;
    width: 100%;
}

#socialIcons {
    display: flex;
    gap: 10px;
    display: relative;
    height: 100%;
}

.socialIcon {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-image: url("assets/icon_low.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.socialIcon:nth-child(1) {
    background-image: url("assets/add-friend.svg");
}

.socialIcon:nth-child(2) {
    background-image: url("assets/add_folder.png");
    background-size: 70%;
}

.socialIcon:nth-child(3) {
    background-image: url("assets/allicon.svg");
    background-size: 60%;
}

.socialIcon:nth-child(4) {
    background-image: url("assets/search.png");
}

#buttons {
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    gap: 2px;
    border-top: solid 1px var(--riot-inac);
}

#version {
    width: 100%;
    color: var(--riot-inac);
    place-content: center;
    font-family: "Beaufort Medium";
}

.goldBtn {
    background-image: linear-gradient(180deg, var(--riot-gldb) 0%, var(--riot-gldd) 100%);
    aspect-ratio: 1/1;
    /* padding: 2px; così è più carino tbh*/
    padding: 1px;
    margin: 1px;
}

.innerBtn {
    width: 100%;
    aspect-ratio: 1 / 1;
    /* border: 1px solid black; */
    background-color: var(--riot-gray);
    /* background-image: url("assets/icon_low.png"); */
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#innerBtn1 {
    background-image: url("assets/chat.svg");
}

#innerBtn2 {
    background-image: url("assets/mission.svg");
    background-size: 70%;
}

#innerBtn3 {
    background-image: url("assets/mic-hover.png");
    background-size: 70%;
}

#innerBtn4 {
    border: none;
}